<script>
    $(document).on('click', '.consult', function() {
        var doc = JSON.parse($(this).attr("title"))
        var name = doc.name.salute + " " + doc.name.first + " " + doc.name.last
        $("#docname").val(name)
        $("#docid").html(doc.id)
        $("#appointmentTime").html("")
        var today = "Monday"
        switch (new Date().getDay()) {
            case 0:
                today = "Sunday"
                break
            case 1:
                today = "Monday"
                break
            case 2:
                today = "Tuesday"
                break
            case 3:
                today = "Wednesday"
                break
            case 4:
                today = "Thursday"
                break
            case 5:
                today = "Friday"
                break
            case 6:
                today = "Saturday"
        }
        $.each(doc.doctor.visiting_time, function(i, date) {
            $.each(date.consultation_time, function(n, time) {
                if (date.consultation_day == today)
                $("#appointmentTime").append("<option>" + date.consultation_day + ": " + time + "</option>")
            })
        })
    })
    $(document).on('click', '.panelpic', function() {
        $("#consultationMode").val($(this).attr("id"))
        $(this).removeClass("panelpic")
        $(".selectedpanelpic").removeClass("selectedpanelpic").addClass("panelpic")
        $(this).addClass("selectedpanelpic")
    })
</script>

<h1> Consultations. </h1>

<carousel pause="true">
    <slide>
        <h3> Choose a doctor. </h3>
        Search by name: <input class="input-medium search-query" ng-model="docfilter.name">
        By specialty: <input class="input-medium search-query" ng-model="docfilter.specialty">
        <br> <br>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr class="head">
                <td> Profile Image </td>
                <td> Name </td>
                <td> Speciality </td>
                <td> Contact </td>
            </tr>
            <tr ng-repeat="doctor in doctors | filter:docfilter" class="subrow">
                <td>
                    <img width="100" height="100" src={{doctor.avatarURL}}>
                </td>
                <td>
                    <a href={{doctor.profilelink}} target="_blank"> {{doctor.name.salute + " " + doctor.name.first + " " + doctor.name.last}} </a>
                </td>
                <td>
                    {{doctor.doctor.speciality[0]}}
                </td>
                <td>
                    <a id={{doctor._id}} title={{doctor}} href="#/consultation/{{doctor._id}}/{{doctor.name.salute + doctor.name.first + doctor.name.last}}" class="btn consult"> Consult </a>
                </td>
            </tr>
            </tbody>
        </table>
    </slide>
    <slide>
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="chooseMode">Choose how you wish to contact the doctor. </h3>
            </div>
            <div>
                <img height="200" width="200" class="panelpic" id="Video" ng-click="setMode(video)" src="http://oughtersideschool.co.uk/wp-content/uploads/2011/11/Video-Icon.png">
                <img height="200" width="200" class="panelpic" id="Email" ng-click="setMode(email)" src="http://cdn1.iconfinder.com/data/icons/dot/256/email_mail_post_letter_stamp.png">
                <img height="200" width="200" class="panelpic" id="Phone" ng-click="setMode(phone)" src="http://cdn1.iconfinder.com/data/icons/dot/256/phone.png">
                <img height="200" width="200" class="panelpic" id="Chat" ng-click="setMode(chat)" src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Chat_bubble_1.svg/305px-Chat_bubble_1.svg.png">
            </div>
            <div>
                <button data-toggle="modal" data-dismiss="modal" href="#appointmentSetup">Select</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
    </slide>
    <slide>
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="mkAppointment">Choose the date and time of the appointment. </h3>
            </div>
            <div>
                <form class="form-horizontal" id="appointmentDetails">
                    <fieldset>
                        <legend>Appointment Details</legend>
                        <label class="text inline">
                            Doctor name:
                            <input type="text" disabled="false" id="docname">
                            <div class="data" id="docid"></div>
                        </label>
                        <label class="text inline">
                            Contact mode:
                            <input type="text" disabled="true" id="consultationMode">
                        </label>
                        <label class="select inline">
                            Contact date and time:
                            <select ng-model="consultation_timeslot" id="appointmentTime" multiple="multiple">
                            </select>
                        </label>
                        <label class="text inline">
                            Reason for visit:
                            <input ng-model="consultation_reason" type="text" id="consultationReason">
                        </label>
                        <button id="confirmconsult" ng-click="submitAppointment()" class="btn btn-primary">Make appointment</button>
                    </fieldset>
                </form>
            </div>
            <div>

            </div>
    </slide>
</carousel>
