<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
<div class="well sidebar-nav-fixed">
    <div class="container-fluid">
        <div class="row-fluid">
            <accordion close-others="true">
                <accordion-group is-open="true" heading="Consultation">
                  Video/audio/text chat goes here.
                </accordion-group>
                <accordion-group heading="Health Record">
                  Upload/view records
                </accordion-group>
                <accordion-group heading="Misc">
                  Misc.
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
