<script>

</script>

<h3> Your appointments. </h3>

Search by doctor name: <input class="input-medium search-query" ng-model="appointmentfilter.name">
By date: <input class="input-medium search-query" ng-model="appointmentfilter.time">

<table class="table table-bordered table-hover">
    <tbody>
    <tr class="head">
        <td> {{persontext}} </td>
        <td> Time of appointment </td>
        <td> Command </td>
    </tr>
    <tr ng-repeat="appointment in appointments | filter:appointmentfilter" class="subrow">
        <td>
            {{isDoctor && appointment.doctor_id || appointment.patient_id}}
        </td>
        <td>
            {{appointment.time}}
        </td>
        <td>
            <button id="approveappointment{{appointment.id}}" ng-show="!appointment.approved" class="btn approveappointment" ng-click="approve(appointment, appointment.id)"> Approve </button>
            <button id="cancelappointment{{appointment.id}}" ng-show="appointment.approved" class="btn cancelappointment" ng-click="approve(appointment, appointment.id)"> Cancel </button>
        </td>
    </tr>
    </tbody>
</table>